<nav class="flex bg-white border p-4 items-center justify-between rounded-full">
  <div class="flex-grow flex ">
    <h1 class="text-lg chatName pl-4">Nombre de chat</h1>
  </div>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5eW8OvSN4zaimWuFO2ff4Q-Es1FS8ajh4WA&s" height="40" width="40" alt="img chat" class="ml-4 rounded-full">
</nav>
<style>
  .chatName{
    font-weight: 420;
  }
</style>
